<h4>User Edit - {{}}</h4>
<hr />
<div class="container main">
    <div class="row">
        <section class="col-md-5">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-4 control-label">User name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="user.userName" ng-disabled="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Email</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="user.email" ng-disabled="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Roles</label>
                    <div class="col-md-8">
                        <select class="dropdown" ng-model="selectedRole" ng-repeat="role for role in roles"></select>
                        <ul>
                            <li ng-repeat="role in user.roles">
                                <span class="lead">{{role.name}}</span>
                                <span class="pull-right">
                                    <a href="" ng-click="removeRole(role)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default" ng-click="login()">Save</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
